/imagenes/DSC_0531.JPG
DC2CT1.pdf
DC2CT2.pdf
/Planificación anual.xmind
/antologiaDeCuentos.md
/division.pdf
/quintogrado2017.odt
*.ods
*.pdf
/organizacion/.~lock.ficha de datos.ods#
/tareas
/.*.odt#
/organizacion/ficha de datos.xls
/seguimiento.org
