# Site settings
title: Planificaciones para armar
description: "Un template integrado para docentes"
url: "https://alvarmaciel.github.io" #"http://localhost:4000"

# Secondary Parameters
baseurl: "/quintogrado" #""
header-img: img/trenes.jpg
headercolor: "#FFFFFF"
logo: #/img/espiral.png #/pruebapp/img/logos/Project-Pages-New-Logo-Inverted.png

# Tertiary Parameters
github_username:  alvarmaciel
project_repository: quintogrado
disqus_shortname: alvarmaciel
g-analytics: UA-75881392-1
altmetric: true

# Jykell configuration
#markdown: redcarpet
#redcarpet:
#  extensions:
#    - hard_wrap
#    - no_intra_emphasis
#    - autolink
#    - strikethrough
#    - fenced_code_blocks
#    - tables

#redcarpet:
#  extensions: ["no_intra_emphasis", "fenced_code_blocks", "autolink", "tables", "with_toc_data"]
#highlighter: pygments
#paginate: 5
#language: 'es-es'
# Build settings
#markdown: redcarpet
#redcarpet:
# extensions: ["no_intra_emphasis", "fenced_code_blocks", "autolink", "tables", "with_toc_data"]
#highlighter: pygments
#gems: [jekyll-paginate]
gems: ["jekyll-paginate", "jekyll-assets"]
markdown: kramdown
kramdown:
 input: GFM # Enable GitHub Flavored Markdown (fenced code blocks)
 hard_wrap: false
highlighter: rouge
paginate: 10
exclude: ["less","node_modules","Gruntfile.js","package.json","README.md"]

# Jekyll Settings

defaults:
  -
    scope:
      path: "projects"
      type: "pages"
    values:
      layout: "project"
      header-img: "img/home-bg.jpg"
    scope:
      path: ""
      type: "posts"
    values:
      pdf: true
# Prose Settings
prose:
  ignore: ['feed.xml', '/stl', '/ply', '/js', '/plugin', '/lib', '/projectors', '_layouts', '/_includes', 'Gruntfile.js', 'package.json', 'proselinks.jsonp', 'ppanchor.matin', '.gitignore', '/search', '/css', '/img', 'favicon.png','_data/*.json','LICENSES.md','README.md','colorscheme.scss','members.html','mentions.html','index.html']
  siteurl: 'https://alvarmaciel.github.io/quintogrado/'
  ispp: true
  media: 'img'
  metadata:
    projects:
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "description"
        field:
          element: "text"
          label: "Description"
          value: ""
      - name: "category"
        field:
          element: "text"
          label: "Project"
          value: ""
    _posts:
      - name: "subtitle"
        field:
          element: "text"
          label: "Sub-Title (Short Description)"
          value: ""
      - name: "layout"
        field:
          element: "select"
          label: "Choose Layout"
          placeholder: "Layouts"
          options:
            - name: "Post"
              value: "post"
            - name: "Slide"
              value: "slide"
            - name: "Projector"
              value: "projector"
            - name: "Notebook"
              value: "notebook"
            - name: "Ply Surface"
              value: "plysurface"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "author"
        field:
          element: "text"
          label: "Author"
          value: ""
      - name: "tags"
        field:
          element: "text"
          label: "Tags (separadas por comas)"
          value: []
      - name: "category"
        field:
          element: "text"
          label: "Project"
          value: ""
      - name: "horizontal"
        field:
          element: "hidden"
          value: </section></section><section markdown="1" data-background="https://alvarmaciel.github.io/quintogrado/img/slidebackground.png"><section markdown="1">
      - name: "vertical"
        field:
          element: "hidden"
          value: </section><section markdown="1">
      - name: "slideinit"
        field:
          element: "hidden"
          value: <section markdown="1" data-background="https://alvarmaciel.github.io/quintogrado/img/slidebackground.png"><section markdown="1">
      - name: "theme"
        field:
          element: "select"
          label: "Theme (Slide)"
          placeholder: "Theme (Slide)"
          options:
            - name: "Beige"
              value: "beige"
            - name: "Blood"
              value: "blood"
            - name: "Moon"
              value: "moon"
            - name: "Night"
              value: "night"
            - name: "Sky"
              value: "sky"
            - name: "Solarized"
              value: "solarized"
      - name: "trans"
        field:
          element: "select"
          label: "Transition (Slide)"
          placeholder: "Transition (Slide)"
          options:
            - name: "Cube"
              value: "cube"
            - name: "Page"
              value: "page"
            - name: "Concave"
              value: "concave"
            - name: "Linear"
              value: "linear"
            - name: "Fade"
              value: "fade"
            - name: "None"
              value: "none"
      - name: "visualworkflow"
        field:
          element: "checkbox"
          label: "Visual Workflow Chart (Some Layouts)"
          value: "true"
